<main>
  <h1 class='text-center text-uppercase'>Hello 1</h1>
  <h2 class='text-end text-lowercase'>Hello 2</h2>
  <h3 class='text-capitalize'>hello 3</h3>

  <hr />

  <div class='display-1'>Hello 1</div>
  <div class='display-2'>Hello 2</div>
  <div class='display-3'>Hello 3</div>

  <hr />
  <div>
    <span class='text-muted'>Hello my world</span>
  </div>

  <hr />

  <button class='btn btn-primary'>
    <span class='text-capitalize'>button primary</span>
  </button>

  <hr />

  <p class='text-primary'>My text</p>
  <p class='text-danger'>My text</p>
  <p class='text-warning'>My text</p>

  <hr />
  <div class='card'>
    <div class='card-body'>
      <button class='btn btn-primary btn-lg'>My button</button>
      <button class='btn btn-outline-secondary'>Add</button>
      <button class='btn btn-outline-danger'>Delete</button>
    </div>
  </div>

  <hr />

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>
</main>