<main class='p-4'>
  <section>
    <div class='mt-5'>
      <h4 class='mb-4'>{{main.title}}</h4>
      <p>{{main.definition}}</p>
    </div>
  </section>

  <section>
    <div><a
        class='btn btn-primary py-0 px-5'
        href='/summary'
      >Summary</a></div>
  </section>
</main>