{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
<main>
  <div>
    <h1>Hello world</h1>
  </div>
  <div><a href='/person' target='_blank'>Person</a></div>
  <div><a href='/bio' target='_blank'>BIO</a></div>
</main>
{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}