<section class='col-12 my-4'>
  <div class='breadcrumb'>
    {{#each breadcrumb}}
      <a 
      class='breadcrumb-item
      {{#if @last}} active {{/if}}' 
      href='{{url}}'>{{name}}</a>
    {{/each}}
  </div>
</section>