<a href={{href}} {{#if blank}} target="_blank" {{/if}}>{{text}}</a>

<div></div>

{{#unless noLine}}
  {{#if line}}
    ---
  {{else}}
    /
  {{/if}}
{{/unless}}

{{!-- My name is Roman! --}}
{{!-- Hello my World --}}
