{{!-- <nav>
    <div>{{> link text="Main" href="/" noLine=true}}</div>
    {{> link text="Summary" href="/summary" line=true}}
    {{> link text="Skills" href="/skills" line=true}}
    {{> link text="Education" href="/education" line=true}}
    {{> link text="Work" href="/work" line=false noLine=true}}
</nav> --}}

<nav
  style="--bs-breadcrumb-divider: '>';"
  aria-label='breadcrumb'
>
  <ol class='breadcrumb'>
    <li class='breadcrumb-item'><a
        href='/mainmenu'
      >Main</a></li>
    <li class='breadcrumb-item'><a
        href='/summary'
      >Summary</a></li>
    <li class='breadcrumb-item'><a
        href='/skills'
      >Skills</a></li>
    <li class='breadcrumb-item'><a
        href='/education'
      >Education</a></li>
    <li class='breadcrumb-item'><a
        href='/work'
      >Work</a></li>
  </ol>
</nav>