{{#with service}}
  <section
    class='col-12 card card-body text-bg-success text-center my-4'
  >
    <h2 class='mb-4'>{{title}}</h2>
    <p>{{description}}</p>
    {{#each buttons}}
      <div>
        <a
          class='btn btn-primary mb-4'
          href='{{link}}'
        >{{text}}</a>
      </div>
    {{/each}}
  </section>
{{/with}}