{{! navigation }}
{{#with navigation}}
  <section class='col-12'>
    <div class='card card-body py-1'>
      <div class='row'>
        <h1 class='col-6 py-3 m-0'>{{Logo}}</h1>
        <div class='col-6 nav py-3'>
          {{#each links}}
            <div class='nav-item'>
              <a
                class='nav-link px-2'
                href='{{href}}'
              >{{text}}</a>
            </div>
          {{/each}}
          <div class='nav-item'>
            <a class='nav-link disabled'>Disabled</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/with}}
{{! /navigation }}